<!-- partials/footer.twig -->
<footer>
     <div class="footer" id="footer">
         <div class="container">
             <div class="row">
                <div class="col-xs-12 contact">

                  {% include './contact.twig' %}

                </div>
             </div>
             <div class="row">
                 <div class="col-md-2 col-md-offset-1 col-xs-4">
                     <ul class="nav">
                         <li> <a href="{{ home_url }}"> Home </a> </li>
                     </ul>
                 </div>
                 <div class="col-md-2 col-xs-4">
                     <ul class="nav">
                         <li> <a href="{{ about_url }}"> About </a> </li>
                     </ul>
                 </div>
                 <div class="col-md-2 col-xs-4">
                     <ul class="nav">
                         <li> <a href="{{ gallery_url }}"> Gallery </a> </li>
                     </ul>
                 </div>
                 <div class="col-md-2 col-xs-6">
                     <ul class="nav">
                         <li> <a href="{{ news_url }}"> News</a> </li>
                     </ul>
                 </div>
                 <div class="col-md-3 col-xs-6">
                     <ul class="nav">
                         <li> <a href="{{ map_url }}"> Map </a> </li>
                     </ul>
                 </div>
             </div>
             <div class="row">
               <div class="col-xs-12">
                   <ul class="social-nav">
                       <li> <a href="#"> <i class="fa fa-facebook">   </i> </a> </li>
                       <li> <a href="#"> <i class="fa fa-twitter">   </i> </a> </li>
                       <li> <a href="#"> <i class="fa fa-pinterest">   </i> </a> </li>
                       <li> <a href="#"> <i class="fa fa-youtube">   </i> </a> </li>
                   </ul>
               </div>
             </div>
         </div>
     </div>
  </footer>


  <!-- all pages -->
  <script type="text/javascript" src="assets/js/vendor/leaflet/jquery.js"></script>
  <script type="text/javascript" src="assets/js/vendor/bootstrap/bootstrap.min.js"></script>

  <!-- forms & validation -->
  <script type="text/javascript" src="assets/js/vendor/bootstrap-validator/validator.js"></script>

  {% if require.map %}

    <!-- OSMap -->
    <link rel="stylesheet" type="text/css" href="assets/js/vendor/leaflet/leaflet.css" />
    <script type="text/javascript" src="assets/js/vendor/leaflet/leaflet.js"></script>

  {% endif %}
  {% if require.listfilter %}

    <!-- lists -->
    <script type="text/javascript" src="assets/js/vendor/listjs/list.min.js"></script>

  {% endif %}

  <!-- custom scripts -->
  <script type="text/javascript" src="assets/js/scripts.js"></script>

  <!-- end of partials/footer.twig -->
